---
import { siteConfig } from "../config";
---

<section id="service" class="p-8 sm:p-12 md:p-16 lg:p-24">
  <div>
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-16 items-start">
      <div class="lg:col-span-4">
        <h2
          class="text-3xl sm:text-4xl md:text-5xl xl:text-7xl font-bold text-gray-900"
        >
          Services
        </h2>
        <div
          class="w-[75px] h-[5px] mt-2 rounded-full"
          style={`background-color: ${siteConfig.accentColor}`}
        >
        </div>
      </div>

      <div class="lg:col-span-8 space-y-8">
                <div class="relative pl-16">
                  <dt class="text-base/7 font-semibold text-gray-900">
                    <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
                      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 text-white">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
                      </svg>
                    </div>
                    Custom Software Development
                  </dt>
                  <dd class="mt-2 text-base/7 text-gray-600">Designing and building tailored applications, from desktop tools to enterprise systems, using languages like Python, Java, Kotlin or C#.</dd>
                </div>
                <div class="relative pl-16">
                  <dt class="text-base/7 font-semibold text-gray-900">
                    <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
                      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 text-white">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
                      </svg>
                    </div>
                    System Integration and Migration
                  </dt>
                  <dd class="mt-2 text-base/7 text-gray-600">Connecting disparate software (e.g., FIX middleware with Order Management System) or migrating legacy code to modern solutions.</dd>
                </div>
                <div class="relative pl-16">
                  <dt class="text-base/7 font-semibold text-gray-900">
                    <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
                      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 text-white">
                        <path d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </div>
                    Maintenance and Optimization
                  </dt>
                  <dd class="mt-2 text-base/7 text-gray-600">Post-launch support, including bug fixes, performance tuning, code refactoring, upgrades, and scalability improvements.</dd>
                </div>
                <div class="relative pl-16">
                  <dt class="text-base/7 font-semibold text-gray-900">
                    <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
                      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 text-white">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                      </svg>
                    </div>
                    Consulting and Architecture Advice
                  </dt>
                  <dd class="mt-2 text-base/7 text-gray-600">Assessing tech stacks, recommending best practices, or architecting scalable solutions for startups or established businesses.</dd>
                </div>
      </div>
    </div>
    </div>
</section>
